<div class="bw">
	<div class="fu">  
        <div class="hc aps">        
            <div class="apa">
                <div class="apb">
                    <h6 class="apd">SITIO DE EVENTOS</h6>
                    <p>
                        <h2 class="apc">Editar Evento</h2>
                    </p>
                </div>    
            </div>                  
            
            <div id="mensaje"></div>       
                    
            <form id="formEditarEven" ng-model="formEditarEven">                
                <div class="form-group">
                    <label>ID Evento:</label>
                    <input type="text" class="form-control" ng-model="evento.ID_EVENTO" value="{{evento.ID_EVENTO}}"/>
                </div>                
                <div class="form-group">
                    <label>Fecha Evento:</label>
                    <div class="input-group date">
                        <input type="text" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>    
                </div>                
                <div class="form-group">
                    <label>Hora Evento:</label>
                    <div class="input-group date">
                        <input type="text" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>                
                <div class="form-group">
                    <label>Dirección Evento:</label>
                    <input type="text" class="form-control"/>
                </div>                
                <div class="form-group">
                    <label>Cantidad de Personas:</label>
                    <input type="text" class="form-control"/>
                </div>
                
                <a ui-sref="eventos" class="btn btn-primary">Volver</a> 
                <a href="#" class="btn btn-primary">Actualizar Evento</a>                
            </form>  
    	</div>
    </div>
    
    <hr class="featurette-divider">

    <footer>
        <span style="font-size:12px">&copy; 2016<span>
        <br>
    </footer>

</div>